/* Base CSS */
.alignleft {
    float: left;
    margin-right: 15px;
}
.alignright {
    float: right;
    margin-left: 15px;
}
.aligncenter {
    display: block;
    margin: 0 auto 15px;
}
a:focus { outline: 0 solid }
img {
    max-width: 100%;
    height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
    font-weight: 700;
}
body {


    font-family: 'Ubuntu', sans-serif;

}
.navbar-brand{
    
    font-family: 'Inconsolata', monospace;

}
a:hover { text-decoration: none }

.navbar.navbar-default {
    background-color: #fff;
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.navbar.navbar-default .navbar-collapse {
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

body{

}

.nav.navbar-nav.navbar-right li {
    margin-right: 67px;
    padding-bottom: 0;
    padding-left: 28px;
    padding-top: 0;
    font-family: 'Playfair Display', serif;
    text-transform: uppercase;
    font-size: 14px;
    
}
.navbar-brand {
    font-size: 30px;
    letter-spacing: 10px;
    text-transform: uppercase;
}
.navbar-default {
    padding-bottom: 80px;
    padding-top: 80px;
}
.photgraphy{margin-top: 100px;
    margin-bottom:100px;
    margin-left: 0px;
    margin-right: 0px;
}
    
    
.col-md-12 > h3 {
    color: #b4ad9e;
    margin-bottom: 30px;
    text-transform: uppercase;
}
.col-md-12 > h1 {
    color: #626262;
    margin-bottom: 40px;
}
.col-md-12 > p {
    color: #626262;
    font-size: 14pt;
    margin-bottom: 55px;
    margin-right: 150px;
}
.blog-section{
    padding-left: 150px;
    padding-right: 150px;
}
h3.leave-a-comment {
    margin-top: 80px;
}



.photgraphy, .blog-section, .blog-section-Load-more .Termsandcondition, .emailletter
{
    padding-right: 150px;
    padding-left: 150px;
        
        
}
.blog-section-Load-more {
    padding-left: 150px;
    padding-right: 150px;
}
.photodiarytext {
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 14pt;
    color: #b4ad9e;
    font-weight: lighter;
    text-transform: uppercase;
}
.col-md-6 > h3 {
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 14pt;
    font-family: [ubuntu];
    text-transform: uppercase;
    color: #b4ad9e;
    font-weight: lighter;
        
}
h1 {
    font-family: playfair display;
    font-size: 30px;
    color: #626262;
}

.blog-section p {
    color: #626262;
    font-family: playfair display regular;
    font-size: 14px;
    margin-top: 40px;
    padding-right: 123px;
    text-align: justify;
}
.blog-section {
    padding-bottom: 130px;
}
.emailletter {
    background-color: #f0f0f0;
    display: block;
    height: 290px;
    text-align: center;
}
.col-md-12 {
    font-family: playfair display regular;
    font-size: 30px;
    margin-top: 75px;
    color: #333333;
}
input {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-bottom-color: currentcolor;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-image-outset: 0 0 0 0;
    border-image-repeat: stretch stretch;
    border-image-slice: 100% 100% 100% 100%;
    border-image-source: none;
    border-image-width: 1 1 1 1;
    border-left-color: currentcolor;
    border-left-style: none;
    border-left-width: medium;
    border-right-color: currentcolor;
    border-right-style: none;
    border-right-width: medium;
    border-top-color: currentcolor;
    border-top-style: none;
    border-top-width: medium;
    margin-left: 304px;
    text-align: left;
    width: 368px;
    background: none;
font-family: playfair display;
color: #626262;
font-size: 14px;
}


}

}
input {
    margin-top: 75px;
}

.icon-image {
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
}
.icon-icon-image {
    padding-left: 281px;
    position: absolute;
}

.center-block {
    padding-bottom: 37px;
}
.blog-section-Load-more {
    padding-bottom: 85px;
    padding-top: 105px;
}
.blog-section-Load-more {
    text-align: justify;
}
.blog-section-Load-more p {
    margin-right: 120px;
}
.btn.btn-custom {
    height: 65px;
    text-align: center;
    width: 165px;
    margin-left: -87px;
}
.load-more {
    padding-top: 70px;
    text-align: center;
}
.btn.btn-custom {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    box-shadow: 1px 1px;
    color: #626262;
    font-family: playfair display;
    font-size: 20px;
}
.col-md-6 > ul {
    list-style-image: none;
    list-style-position: outside;
    list-style-type: inline;
}
.col-md-6 > ul {
    list-style-type: none;
   
    overflow-x: hidden;
    overflow-y: hidden;
    
}
.col-md-6 li {
    float: left;
}
.tc {
    margin-left: 112px;
    padding-right: 20px;
    color: black;
}

.col-md-6 > ul {
    font-size: 14px;
    font-family: playfair display;
    color: black;

}
.td{
    color: black;
}
.follow {
    font-size: 14px;
    margin-bottom: 0;
    margin-left: 366px;
    margin-right: 20px;
    margin-top: 0;
}
.fa {
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 7.5px;
    padding-left: 7.5px;
    padding-right: 7.5px;
    padding-top: 4px;
    text-align: center;
}
.Termsandcondition {
    background-color: #f0f0f0;
    display: block;
    height: 95px;
    text-align: center;
}
.container-fluid {
    text-align: center;
}
.row {
    margin-top: 43px;
}
.col-md-12 {
    margin-top: -82px;
    padding-top: 0;
}
input {
    height: 28px;
}

 a, a:visited, a:hover, a:active {
  color: inherit;
}
.center-block {
    padding-bottom: 0;
    padding-top: 117px;
}
.leave-a-comment{
    font-size: 14pt;
    font-family: ubuntu light;
    font-weight: 300;
    
}
.blog-section-Load-more p {
    color: #626262;
    font-family: playfair display regular;
    font-size: 14px;
    margin-right: 120px;
}
.photon {
    font-family: playfair display regular;
    font-size: 14pt;
    font-weight: lighter;
}

.btn.btn-custom {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-attachment: scroll;
    background-clip: border-box;
    background-color: rgba(0, 0, 0, 0);
    background-image: none;
    background-origin: padding-box;
    background-position-x: 0;
    background-position-y: 0;
    background-repeat: repeat;
    background-size: auto auto;
    border-bottom-color: currentcolor;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-image-outset: 0 0 0 0;
    border-image-repeat: stretch stretch;
    border-image-slice: 100% 100% 100% 100%;
    border-image-source: none;
    border-image-width: 1 1 1 1;
    border-left-color: currentcolor;
    border-left-style: solid;
    border-left-width: 1px;
    border-right-color: currentcolor;
    border-right-style: solid;
    border-right-width: 1px;
    border-top-color: currentcolor;
    border-top-style: solid;
    border-top-width: 1px;
}